---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { defaultMeta } from "../lib/meta";
import "../styles/global.css";

const { title, description, url, banner } = Astro.props;
---

<!-- Global Metadata -->
<meta name="robots" content="follow, index" />
<meta name="title" content={title || defaultMeta.title} />
<meta name="description" content={description || defaultMeta.description} />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title || defaultMeta.title}</title>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content={defaultMeta.site_name} />
<meta property="og:url" content={url || defaultMeta.url} />
<meta property="og:title" content={title || defaultMeta.title} />
<meta property="og:description" content={description || defaultMeta.description}
/>
<meta property="og:image" content={banner} />
<meta property="og:image:alt" content={defaultMeta.image_alt} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url || defaultMeta.url} />
<meta property="twitter:title" content={title || defaultMeta.title} />
<meta
	property="twitter:description"
	content={description || defaultMeta.description}
/>
<meta property="twitter:image" content={banner} />
<meta property="twitter:domain" content={url || defaultMeta.url} />
<meta name="twitter:creator" content={defaultMeta.twitterCreator} />
<meta name="twitter:image:alt" content={defaultMeta.image_alt} />
