---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPostHead from "../components/BlogPostHead.astro";
// import { getReadTime } from "../lib/getReadTime";

const {
	content: { title, pubDate, description, banner },
} = Astro.props;

// const postData = await Astro.glob(`/src/pages/post/2.md`);

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const mdURL = canonicalURL.pathname.replace(/\/$/, '.md');

// console.log(mdURL)

const styles = {
	main: ` max-w-4xl m-auto`,
	banner: `w-full mb-5`,
	hero: `text-center border-b p-5 mb-10`,
	h1: `text-4xl font-medium`,
};
---

<BlogPostHead title={title} description={description} banner={banner} />
<Header />
<main class={styles.main}>
	<article>
		<div class={styles.hero}>
			{
				banner && (
					<img
						class={styles.banner}
						src={banner}
						alt={`image of ${title}`}
					/>
				)
			}
			<h1 class={styles.h1}>{title}</h1>
			<div>{pubDate}</div>
		</div>
		<div class="p-5">
			<slot />
		</div>
	</article>
</main>
<Footer />

<!-- ---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
					/>
				)}
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html> -->
